<!DOCTYPE html>
<html lang="fr">

<head>
    <title>[Welcome] Félicitations, tu as terminé ton parcours de pré-boarding !</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      body {
        color: #156082;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        text-align: left;
      }

      h3 {
        color: #1c7aa5;
      }

      a {
        color: #000000;
        text-decoration: underline;
      }

      ol, p {
        color: #156082;
        margin-bottom: 20px;
      }

      strong {
        color: #114b67;
      }

      button {
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;

        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: #156082;
        background-image: linear-gradient(
          to top left,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2) 30%,
          rgba(0, 0, 0, 0)
        );
      }

      .centre{
        text-align: center;
      }
    </style>
</head>

<body>
  
<p>
    Hello <%= userFirstName ;%> ! 🌟<br><br>
</p>

<p>
  Félicitations !<strong> Tu as franchi les 4 étapes de pré-boarding avec succès</strong> sur notre<br>
   application maison Welcome ! 🎉 
</p>

<br>
<p>Nous espérons sincèrement que cette expérience t'a permis de plonger en<br>
   douceur dans l'univers Daveo et qu'elle a renforcé ton enthousiasme à nous<br>
    rejoindre très prochainement. 🌟 </p>


<br>

<p>
  <strong>Ton arrivée parmi nous est un moment que nous attendons avec impatience </strong><br>
  ! 🤗 N'hésite pas à nous contacter si tu as la moindre question d'ici là. 
</p>

<p>À très bientôt pour de nouvelles aventures ensemble ! <br>
    <%= managerFirstName ;%> <%= managerLastName ;%>.<br>
</p>

</body>
</html>