<!DOCTYPE html>
<html lang="fr">

<head>
    <title>[Welcome] La 4e et dernière étape est accessible ! </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>[Welcome] La 4e et dernière étape est accessible ! </title>

    <style>
      body {
        color: #156082;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        text-align: left;
      }

      h3 {
        color: #1c7aa5;
      }

      a {
        color: #000000;
        text-decoration: underline;
      }

      ol, p {
        color: #156082;
        margin-bottom: 20px;
      }

      strong {
        color: #114b67;
      }

      button {
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;

        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: #156082;
        background-image: linear-gradient(
          to top left,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2) 30%,
          rgba(0, 0, 0, 0)
        );
      }

      .centre{
        text-align: center;
      }
    </style>
</head>

<body>
<h3>[Welcome!]</h3><br>
<p>
    Hello <%= userFirstName %> ! 🌟<br><br>
</p>

<p>
  Waouh, tu as déjà franchi 3 étapes comme un(e) champion(ne) ! On est ravis de ton parcours jusqu'ici.
  Et maintenant... 🥁 C'est l'heure de la dernière ligne droite ! <strong>Es-tu prêt(e) pour la dernière étape de ton parcours de pré-boarding ?</strong>
  Allez, c'est parti pour le bouquet final ! <br>
</p>

<br>

<div class="centre">
  <a href="<%= appUrl %>"><button>Accède à la 4ème étape</button></a>
</div>

<br>

<p>
  N'oublie pas, même si la fin du pré-boarding approche, ce n'est que le début de ton aventure chez Daveo. <strong>Le meilleur reste à venir !</strong> 🎊
</p>

<p>À très vite dans nos locaux !<br>
    <%= managerFirstName %> <%= managerLastName %>.<br>
</p>

</body>
</html>